body {
	background-image: url("https://i.imgur.com/lZ7lENG.jpeg");
	background-repeat: repeat-y;
	background-size: 100%;
	margin: 0px;
}

.header__top {
	background: #007f3d;
	margin: 0px;
}

.header__top__inner{
	display: flex;
	justify-content: space-between;
}

.description {
	color: white;
	font-size: 16px;
	padding-left: 40px;
	padding-top: 13px;
}

.header__nav {
	display: flex;
	list-style-type: none;
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-right: 50px;
}

.header__nav > li {
	padding: 14px 19px;
}

.welcome {
	color: white;
}

.header__nav__member {
	background-color: rgba(6,147,227,1);
}

.header__nav__member > a:visited {
	color: white;
}

.header__nav__cart {
	background-color: #21d537;
	display: inline-block;
}

.header__nav__cart > a {
	padding-left: 20px;
	position: relative;
	top: -2px;
	color: white;
}

.header__nav__cart > div {
	padding-left: 20px;
	position: relative;
	top: -2px;
	color: white;
}

.header__nav__cart > a::before {
	content: "";
	background: url('https://cdn-icons-png.flaticon.com/128/3514/3514491.png');
	background-size: 20px 20px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
	position: absolute;
	top: -3px;
	left: -5px;
}

.header__nav a:link {
	color: white;
	text-decoration: none;
}

.header__nav a:hover {
	color: yellow;
	font-weight: bold;
}

.header__nav__cart a {
	font-size: 17.5px;
}

.header__nav div {
	color: white;
	text-decoration: none;
}

.header__nav div:hover {
	color: yellow;
	font-weight: bold;
	cursor: pointer;
}

.header__nav__cart div {
	font-size: 17.5px;
}

.nav__bar {
	display: flex;
	justify-content: space-between;
	background-color: white;
	border-bottom: 1px rgba(127, 127, 129, 0.5) solid;
	position: sticky;
	top: 0px;
	z-index: 1;
}

.logo {
	padding-top: 8px;
	padding-bottom: 0px;
	padding-left: 90px;
	padding-right: 90px;
}

.nav__bar__list {
	display: flex;
	list-style-type: none;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
	padding-right: 50px;
}

.nav__bar__list li {
	margin-right: 0px;
	padding: 24px;
	font-size: 16px;
	border-left: 1px rgba(127, 127, 129, 0.5) solid;
}

.contact {
	border-right: 1px rgba(127, 127, 129, 0.5) solid;
}

.nav__bar__list a {
	color: black;
}

.nav__bar__list a:link {
	text-decoration: none;
	transition: 0.35s;
}

.nav__bar__list a:hover {
	background-color: yellow;
	padding: 10px 0px;
	font-weight: bold;
}

.main {
	display: flex;
}

.login__container {
	display: none;
	position: relative;
	box-sizing: border-box;
	margin: auto;
	margin-top: 20px;
	background-color: white;
	width: 400px;
	height: 300px;
	padding: 30px 40px;
	z-index: 1;
	border-radius: 5px;
	border:1px solid hsl(210 15% 83% / 1);
	box-shadow:1px 1px 3px #92828291;
}

.errcode__1, .errcode__2 {
	display: none;
	position: absolute;
	top: 30px;
	left: 100px;
	color: red;
	font-weight: bold;
	font-size: 22px;
}

.login__container__form div:nth-child(1) {
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 10px;
}

.login__container__form div:nth-child(2n) {
	margin-top: 5px;
	margin-bottom: 5px;
}

.login__container__form input:nth-child(5) {
	margin-bottom: 10px;
}

.sign_in_btn {
	margin-top: 15px;
	background-color: #1a7f37;
	border: 1px solid white;
	border-radius: 3px;
	padding: 10px 50px;
	color: white;
	font-weight: bold;
}

.sign_in_btn:hover {
	cursor: pointer;
	color: yellow;
}

.register_link {
	margin-left: 15px;
	font-size: 16px;
	color: green;
}

.forgotten_link {
	margin-left: 15px;
	font-size: 16px;
	color: green;
}


.closebutton {
	position: absolute;
	box-sizing: border-box;
	top: 5px;
	right: 5px;
	padding-top: 5px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 3px;
	border-radius: 50%;
	transition: 0.3s;
}

.closebutton:hover {
	cursor: pointer;
	background-color: #8282828a;
}

.appear {
	display: inline-block;
}

.register__container {
	z-index: 1;
	background-color: white;
	display: inline-block;
	box-sizing: border-box;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 700px;
	height: 450px;
	border-radius: 15px;
	padding: 30px;
}

.register__container__title {
	font-size: 30px;
	font-weight: bold;
	margin: 0px 20px;
}

.register__container div {
	margin-left: 20px;
}

.register__container div > input {
	border: 2px solid #c2dffb;
	padding: 5px;	
	margin-top: 20px;
}

.register__container__form div::after {
  content: "*";
  color: red;
  font-size: 16px;
}

.register_btn {
	margin-top: 30px;
	margin-left: 40px;
	background-color: #1a7f37;
	border: 1px solid white;
	border-radius: 3px;
	padding: 10px 100px;
	color: white;
	font-weight: bold;
}

.register_btn:hover {
	color: yellow;
	font-weight: bold;
	cursor: pointer;
}

.errcode {
	display: inline-block;
	top: 0px;
	color: red;
	font-size: 22px;
	font-weight: bold;
}